h5 {
  text-align: end;
  margin-right: 10px;
}

.tehtavaheader {
  margin: 7%;
  text-align: center;
}

.Tehtava {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  border: 2px solid black;
  background-color: rgb(247, 170, 243);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

body {
  background-color: #ff99ff;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
}
.Header {
  background-color: #ff80ff;
  text-align: right;
  padding: 5px;
  padding-right: 100px;
  font-size: larger;
  border-bottom-style: double;
}

/* Nabar */

/* Style the top navigation bar */
nav {
  position: absolute;
  display: flex;
  justify-content: space-between; /* Spread the items equally */
  align-items: center; /* Center the items vertically */
  overflow: hidden;
  background-color: none;
  margin-top: 1px;
  margin-bottom: 20px;
}
nav li {
  float: left;
}

/* Style the links inside the navigation bar */
nav a {
  display: block;
  background-color: #b3007d;
  color: black;
  text-align: center;
  padding: 5px 50px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Courier New", monospace;
  border-style: solid;
  border-width: 1px;
}

/* Add a color to the active/current link */
nav a:hover {
  background-color: #6933ff;
  color: black;
  border-style: groove;
}

ul li a.active {
  background-color: #6933ff;
  color: black;
}
.Navlinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Etusivu */

.Home1 {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

.Home2 {
  margin: 10%;
}

.homeheader {
  margin-top: 8%;
  margin-left: 15%;
}
